/*-----------------------
 nav styles start from here 
 -------------------------*/


nav>ul>li img{
    width: 20px;
    height: 20px;
}
nav>ul{
    display: flex;
    float: right;
   
   
}
nav>ul>li{

    margin-right: 10px;
    list-style-type: none;
    
    
    
}
.nav-bar{

    display: flex;

    
    
    margin: 50px;
    
    
}
nav{
    margin-left: 300px;
}


/* --------------
main start from here
---------------- */


.journey-camera{
    display: flex;
    width: 100%;
    margin: 50px;
}
.button-red-col{
    color: white;
    background-color:rgb(250, 21, 219);
    text-decoration: none;
    border-radius: 15px;
    padding: 5px;
    
}
#open-button{
    text-align: right;
    color: rgb(250, 21, 219);
    text-decoration: none;
}
.button-right{
    text-align: right;
}
#personal-button{
    color: white;
    background-color:rgb(250, 21, 219);
    text-decoration: none;
    padding: 5px;
}



/* --------------
 section two
------------------- */

.company-logo{
    margin-left: 100px;
    margin-right: 80px;
   
}
.company-logo img{
    margin-right: 15px;
}
hr{
    width: 900px;
}


/* ------------------
popular Collection
-----------------  */
.orange{
    color: orange;
}
#space-points{
    margin-left: 10px;
}
.popular-center{
    text-align: center;
}
.all-div{
    /* background-color: wheat; */
    margin: 70px;
}


.grid-use{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.div-one{
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;

}
.div-two{
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
}
.div-three{
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
}
.div-four{
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
}
.div-five{
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
}
.div-six{
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
}
.div-seven{
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
}
.div-eight{
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
}
.div-nine{
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
}


/* --------------------
personal info start
--------------------- */
.personal-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
   margin: 60px;
}


/* -----------------
footer tag start
------------------- */
.footer-center{
    color: white;
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 30px;
}
/* -------------
media queries
----------------- */
@media (max-width:688px) {
    .nav-bar{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }
    .journey-camera{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }
    .company-logo{
        grid-template-columns: repeat(2,1fr);
        flex-direction: column;
    }
    .grid-use{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }
    .personal-info{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }
    .footer-center{
        display: 100%;
    }
}


